fused-engine
fused-engine-headless
engine-bin
engine-headless-bin

ui/node_modules/
ui/build/
ui/.cache/
ui-build/
scripts/**.sql
runtime/mcp/node_modules/

data/
.fused/
.env
.env.local
.DS_Store
runtime/mcp/dist/**
